img {
  height: 200px;
  width: 200px;
}

.melon-div {
  display: inline-block;
  padding: 10px;
  width: 205px;
}

.body {
  background-color: #f4ae72;
}

.h1, .h3 {
  color: red;
  font-family: sans-serif;
}

#top-melons-img {
  border: 3px green solid;
}

#homepage-img {
  justify-content: center;
}