{% extends base.html %}
    {% block content %}
        <div class="Header content">
            <h1><i>UberMelons Most Loved Melons</i></h1>
            <img src="http://www.rareseeds.com/assets/1/14/DimThumbnail/Texas-Golden-2-Watermelon-web.jpg"
                alt="Picture of Texas Golden Watermelon">
        </div>
        <div class="user-info">
            <form action="/get-name" method="GET">
                What is your name?
                <input type="text" name="username" required>
                <!-- <button type="button" value="submit">submit name</button> -->
            </form>
        </div>
    {% endblock %}

<!-- note for teacher:
- when the directions said to inclue "an image of a Watermelon", it was not specific which picture
    - I just assumed any picture would be fine, so I took one from the most-loved list -->