<!doctype html>
<html>
<head>
  <title>Top Melons</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  <!-- Create a div for every Most Loved Melon using a Jinja for-loop -->
  <!-- <div class="melon-div">
    <h3>Texas Golden Watermelon</h3>
    <h2>Loved 598 times.</h2>
    <img src="http://www.rareseeds.com/assets/1/14/DimThumbnail/Texas-Golden-2-Watermelon-web.jpg">
  </div> -->
  <!-- create a for loop -->
  <!-- loop through the keys and values of the dictionary -->
  <!-- *****fix the img display**** -->
  {% for key, values in loved_melons_dict.items()%}
    <div><h2>{{ loved_melons_dict[key]["name"]}}</h2></div>
    <div>Loved {{ loved_melons_dict[key]["num_loves"]}} times</div>
    <div><img src="{{ loved_melons_dict[key]["img"]}}" alt=""></div> 
  {% endfor %}
</body>
</html>


<!-- notes for teacher:
- I remembered the syntax for the for loop, but I forgot the wording for ending the for-loop 
  - originall I had "endloop", so I went to the ntoes to find my mistake -->