{% extends 'base.html' %}
<!doctype html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/static/styles.css">
      <title>Top Melons</title>
  </head>
  <body>
    {% block content %}
    <h1>Welcome, {{ username }}!</h1>
    {% for key, values in loved_melons_dict.items()%}
      <div><h2>{{ username }} this is a {{ loved_melons_dict[key]["name"]}}</h2></div>
      <div>Number of loves: {{ loved_melons_dict[key]["num_loves"]}}</div>
      <div><img src="{{ loved_melons_dict[key]["img"]}}" alt="Picture of current melon" id="top-melons-img"></div> 
    {% endfor %}
    {% endblock %}
  </body>
</html>


